@font-face {
  font-family: Lobster;
  src: url(../fonts/Lobster\ 1.4.otf); }
@font-face {
  font-family: Helvetica;
  src: url(../fonts/HelveticaRegular.eot); }
@font-face {
  font-family: BebasNeue;
  src: url(../fonts/bebasneueregular.woff); }
.container {
  max-width: 1280px;
  margin: 0 auto; }
  .container .header {
    width: 100%;
    min-height: 113px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #e0e0e0 0%, #ffffff 100%); }
    .container .header .header__logo {
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .container .header .header__logo a {
        text-decoration: none; }
        .container .header .header__logo a .header__logoText {
          display: flex;
          font-family: "Lobster";
          font-size: 49px;
          font-weight: 400;
          line-height: 0.2;
          color: #676666; }
          .container .header .header__logo a .header__logoText span {
            color: #ff7700; }
    .container .header .header__navigation {
      width: 60%;
      height: 113px; }
      .container .header .header__navigation .header__navList {
        height: 100%;
        display: flex;
        justify-content: center; }
        .container .header .header__navigation .header__navList a {
          text-decoration: none;
          font-family: "Helvetica";
          font-size: 15px;
          color: #545454;
          text-shadow: 1px 1px 0 #ffffff;
          border-right: 1px solid #c9c8c8; }
          .container .header .header__navigation .header__navList a:last-child {
            border-right: none; }
          .container .header .header__navigation .header__navList a li {
            width: 108px;
            height: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center; }
            .container .header .header__navigation .header__navList a li:hover {
              background-image: linear-gradient(to top, #c9c0c0 0%, #ffffff 100%); }
            .container .header .header__navigation .header__navList a li img {
              margin-top: 25%; }
  .container .selectImage {
    height: 180px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%; }
    .container .selectImage .selectImage__selectText h1 {
      font-family: "Helvetica";
      font-size: 26px;
      color: #565555;
      font-weight: 700; }
    .container .selectImage .selectSearchString {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%; }
      .container .selectImage .selectSearchString .selectSearchString__searchSubmit {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative; }
        .container .selectImage .selectSearchString .selectSearchString__searchSubmit .search {
          width: 445px;
          height: 45px;
          border-radius: 8px;
          border: 1px solid #cacaca;
          margin-right: 20px; }
        .container .selectImage .selectSearchString .selectSearchString__searchSubmit label {
          display: inline-block;
          cursor: pointer;
          padding: 7px 26px;
          background-color: #969292;
          opacity: 0.59;
          color: #fff;
          font-family: "Helvetica";
          font-size: 18px;
          border-radius: 5px;
          position: absolute;
          left: 325px; }
          .container .selectImage .selectSearchString .selectSearchString__searchSubmit label:hover {
            background-color: #ff7700; }
        .container .selectImage .selectSearchString .selectSearchString__searchSubmit .hide {
          position: absolute;
          overflow: hidden;
          z-index: -1;
          width: 0.1px;
          height: 0.1px;
          opacity: 0; }
        .container .selectImage .selectSearchString .selectSearchString__searchSubmit .submit {
          width: 205px;
          height: 45px;
          background-image: linear-gradient(to top, #ff6600 0%, #ffa400 100%);
          color: #fff;
          font-family: "Helvetica";
          font-size: 22px;
          font-weight: 600;
          border-radius: 5px;
          border: none;
          line-height: 1;
          cursor: pointer; }
  .container .blocks {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center; }
    .container .blocks .blocks__rows {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin-top: 3%; }
      .container .blocks .blocks__rows .blocks__item {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 217px;
        height: 280px;
        border: 1px solid rgba(0, 0, 0, 0.16);
        box-shadow: 0 0 5px rgba 0, 0, 0, 0.17;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(253, 254, 255, 0.1) 5%, rgba(255, 255, 255, 0.1) 100%); }
        .container .blocks .blocks__rows .blocks__item .blocks__image {
          display: flex;
          flex-flow: column;
          width: 203px;
          height: 195px;
          position: relative; }
          .container .blocks .blocks__rows .blocks__item .blocks__image .blocks__imageText {
            position: absolute;
            bottom: -10px;
            left: 5px;
            color: #fff;
            font-family: "BebasNeue";
            font-size: 19px;
            color: #ffffff;
            font-weight: 400; }
        .container .blocks .blocks__rows .blocks__item .blocks__underImage {
          display: flex;
          flex-flow: column;
          width: 190px;
          height: 75px; }
          .container .blocks .blocks__rows .blocks__item .blocks__underImage .blocks__text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #DEDEDE;
            height: 37px;
            width: 100%;
            font-family: "Helvetica";
            font-size: 15px;
            color: #979393;
            font-weight: 400; }
          .container .blocks .blocks__rows .blocks__item .blocks__underImage .blocks__share {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 37px;
            width: 100%; }
            .container .blocks .blocks__rows .blocks__item .blocks__underImage .blocks__share .blocks__shareText {
              font-family: "Helvetica";
              font-size: 14px;
              color: #979393;
              font-weight: 400;
              margin-right: 5px; }
            .container .blocks .blocks__rows .blocks__item .blocks__underImage .blocks__share .fab {
              font-size: 23px;
              color: #b1aeae;
              margin-left: 5px; }
              .container .blocks .blocks__rows .blocks__item .blocks__underImage .blocks__share .fab:hover {
                color: #283e8f; }
  .container footer {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .container footer .footerText {
      display: flex;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 17px;
      font-weight: 400;
      color: #8b8a8a;
      padding-right: 100px; }

@media (max-width: 992px) {
  .blocks__rows {
    flex-wrap: wrap;
    margin-top: 0px !important; }
    .blocks__rows .blocks__item {
      min-width: 45%;
      margin-top: 20px; } }
@media (max-width: 768px) {
  .header {
    flex-flow: column; }

  .header__navigation {
    width: 60%;
    height: 100px; }

  .header__logoText {
    font-size: 36px !important; }

  .selectSearchString__searchSubmit {
    display: flex;
    flex-flow: column; }
    .selectSearchString__searchSubmit label {
      top: 5px; }
    .selectSearchString__searchSubmit .submit {
      margin-top: 10px; } }
@media (max-width: 650px) {
  .container {
    min-width: 400px;
    margin: 0 auto !important; }

  .header__logoText {
    font-size: 28px !important;
    width: 300px !important;
    justify-content: center !important; }

  .header__navList li {
    width: 98px !important; }

  .selectImage {
    margin-bottom: 0px !important; }
    .selectImage h1 {
      font-size: 16px !important; }
    .selectImage .selectSearchString {
      margin-left: 20px;
      margin-right: 20px; }
      .selectImage .selectSearchString .search {
        width: 345px !important;
        margin-right: 0px !important; }
      .selectImage .selectSearchString .submit {
        font-size: 18px !important; }
      .selectImage .selectSearchString label {
        left: 225px !important; }

  .blocks__rows {
    flex-flow: column; }

  footer {
    justify-content: center !important; }

  .footerText {
    font-size: 14px !important;
    text-align: center !important;
    padding-right: 0px !important; } }

/*# sourceMappingURL=style.css.map */
