@font-face {
    font-family: Lobster;
    src: url(../fonts/Lobster\ 1.4.otf);
}
@font-face {
    font-family: Helvetica;
    src: url(../fonts/HelveticaRegular.eot);
}
@font-face {
    font-family: BebasNeue;
    src: url(../fonts/bebasneueregular.woff);
}


.container {
    max-width: 1280px;
    margin: 0 auto;
    .header {
        width: 100%;
        height: 113px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to top, #e0e0e0 0%, #ffffff 100%);
        .header__logo {
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center; 
            a {
                text-decoration: none;           
                .header__logoText {
                    display: flex;
                    font-family: "Lobster";
                    font-size: 49px;
                    font-weight: 400;
                    color: #676666;
                    span {
                        color: #ff7700;
                    }
                }  
            }          
        } 
        .header__navigation {
            width: 60%;
            height: 100%;
            .header__navList {
                height: 100%;
                display: flex;  
                justify-content: center;
                a {
                    text-decoration: none;
                    font-family: "Helvetica CE";
                    font-size: 15px;
                    color: #545454;
                    li {
                        width: 108px;
                        height: 100%;
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        justify-content: center;
                        border-right: 1px solid #DEDEDE;
                        &:hover {
                            background-image: linear-gradient(to top, #c9c0c0 0%, #ffffff 100%);
                        }  
                        img {
                            margin-top: 25%;
                        }
                    }
                }
            }
        }
    }
    .selectImage{
        height: 180px;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;        
        .selectImage__selectText {
            h1{
                font-family: "Helvetica";
                font-size: 26px;
                color: #565555;
                font-weight: 700;
            }        
        }
        .selectSearchString {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            .selectSearchString__searchSubmit{
                display: flex;
                width: 100%;                
                justify-content: center;  
                align-items: center; 
                           
                .search {
                    width: 445px;
                    height: 45px;
                    border-radius: 8px;
                    border: 1px solid #cacaca;
                    margin-right: 20px;
                    
                }
                .submit {
                    width: 205px;
                    height: 45px;
                    background-image: linear-gradient(to top, #ff6600 0%, #ffa400 100%);
                    color: #fff;
                    font-family: "Helvetica";
                    font-size: 22px;                
                    font-weight: 600;
                    border-radius: 5px;
                    border: none;
                    line-height: 1;
                    
                }
            }
        }
    }
    .blocks {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;        
        .blocks__rows {
            display: flex; 
            justify-content: space-between;
            align-items: center;   
            width: 80%;     
            margin-top: 3%;   
            .blocks__item {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                width: 217px;
                height: 280px;
                border: 1px solid rgba(0, 0, 0, 0.16);
                box-shadow: 0 0 5px rgba
                (0, 0, 0, 0.17);
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(253, 254, 255, 0.1) 5%, rgba(255, 255, 255, 0.1) 100%);
                .blocks__image {
                    display: flex;
                    flex-flow: column;                    
                    width: 203px;
                    height: 195px;
                    position: relative;                    
                    // background-image: url(../img/Main/1.png);
                    // background-repeat: no-repeat;
                    // background-position: center;
                    // background-size: cover;
                    .blocks__imageText {
                        position: absolute;
                        bottom: -10px;
                        left: 5px;
                        color: #fff;
                        font-family: "BebasNeue";
                        font-size: 19px;
                        color: #ffffff;
                        font-weight: 400;
                    }
                }
                .blocks__underImage {
                    display: flex;
                    flex-flow: column;
                    width: 190px;
                    height: 75px;
                    .blocks__text {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #DEDEDE;
                        height: 37px;
                        width: 100%;
                        font-family: "Helvetica";
                        font-size: 15px;
                        color: #979393;
                        font-weight: 400;
                    }
                    .blocks__share {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        height: 37px;
                        width: 100%;                        
                        .blocks__shareText {
                            font-family: "Helvetica";
                            font-size: 14px;
                            color: #979393;
                            font-weight: 400;
                            margin-right: 5px;
                        }
                        img {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }        
    }
    footer {
        height: 120px;
        width: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .footerText {
            display: flex;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
            font-weight: 400;
            color: #8b8a8a;
            margin-right: 1%;
        }
       
    }

}
